body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f4ef;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.columns {
  display: flex;
  gap: 1rem;
}

.column {
  background-color: #e9e8e4;
  border-radius: 0.5rem;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.column-header h2 {
  font-size: 1rem;
  margin: 0;
  text-transform: capitalize;
}

.column-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.column-content[data-is-over="true"] {
  background-color: #eeeeec;
}

.card {
  border: 1px solid #e4e4e2;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.card h3 {
  font-size: 1rem;
  margin: 0;
  text-transform: capitalize;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 1;
  max-width: 250px;
}

.main-content {
  flex: 2;
  border: 1px solid #dad9d9;
}

.container {
  padding: 1rem;
}

h1,
h2,
h3,
h4 {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
}

h3 {
  font-weight: bold;
}

.top-panel {
  box-sizing: border-box;
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  justify-content: space-between;
  min-height: 68px;
}

.controls {
  display: flex;
  gap: 0.5rem;
}

.btn,
button {
  background-color: transparent;
  border: 1px solid #dad9d9;
  color: #323232;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.icon {
    border: none;
  }

  &.solid {
    background-color: #323232;
    color: #fff;
  }
}

dialog {
  border: none;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0;
  max-width: 500px;
  width: 90%;
}

dialog footer {
  border-top: 1px solid #f5f4ef;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1rem;
}

dialog header {
  padding: 1rem;
  border-bottom: 1px solid #f5f4ef;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  border: 1px solid #dad9d9;
  border-radius: 0.25rem;
}

textarea {
  resize: vertical;
  min-height: 100px;
  font: inherit;
}

.project-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  a {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 0.25rem;
    color: #323232;
    text-decoration: none;
  }

  a[data-active="true"] {
    background-color: #e9e8e4;
  }

  a:hover {
    background: #e9e8e4;
  }
}
